// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #8c67ef;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

$info: $info-dark;
// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$info: #202b33;
// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        )
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

/*VARIABLES*/

$darker-blue: #202b33;

/*HELPERS*/

.m-auto{ 
    margin: auto;
}

.bg-darker-blue {
    background-color: $darker-blue !important;
}

.w50 {
    width: 50% !important;
}

.w80 {
    width: 80% !important;
}


.w90 {
    width: 90% !important;
}

.minw30 {
    min-width: 30%;
}

.minw100 {
    min-width: 100%;
}

/*BODY*/
$body-background-color: rgb(228, 224, 224);

/*NAVBAR*/
$navbar-padding-horizontal: 10rem;
$navbar-item-hover-background-color: unset !important;
$navbar-item-hover-color: #ddd !important;
$navbar-item-color: #eee;
$navbar-background-color: $info;

/*HERO*/

$hero-body-padding-medium: 7rem 1.5rem 5rem 1.5rem;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

@import "~@creativebulma/bulma-divider";