// Import Bulma's core
@import '~bulma/sass/utilities/_all';

html {
	scroll-behavior: smooth;
}

// Set your colors
$primary: #8c67ef;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

/*BODY*/
$body-background-color: rgb(228, 224, 224);

$info: #202b33;
$info-light: $body-background-color;
// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
	(
		'white': (
			$white,
			$black
		),
		'black': (
			$black,
			$white
		),
		'light': (
			$light,
			$light-invert
		),
		'dark': (
			$dark,
			$dark-invert
		),
		'primary': (
			$primary,
			$primary-invert,
			$primary-light,
			$primary-dark
		),
		'link': (
			$link,
			$link-invert,
			$link-light,
			$link-dark
		),
		'info': (
			$info,
			$info-invert,
			$info-light,
			$info-dark
		),
		'success': (
			$success,
			$success-invert,
			$success-light,
			$success-dark
		),
		'warning': (
			$warning,
			$warning-invert,
			$warning-light,
			$warning-dark
		),
		'danger': (
			$danger,
			$danger-invert,
			$danger-light,
			$danger-dark
		)
	),
	$custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

/*VARIABLES*/

$darker-blue: #202b33;

/*HELPERS*/

.m-auto {
	margin: auto !important;
}


.line {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.bg-darker-blue {
	background-color: $darker-blue !important;
}

.w10 {
	width: 10% !important;
}

.w15 {
	width: 15% !important;
}

.w30 {
	width: 30% !important;
}

.w50 {
	width: 50% !important;
}

.w80 {
	width: 80% !important;
}

.w90 {
	width: 90% !important;
}


.w90 {
	width: 100% !important;
}

.minw30 {
	min-width: 30%;
}

.minw100 {
	min-width: 100%;
}

.maxw30 {
	max-width: 30%;
}
.maxw80 {
	max-width: 80%;
}

.minh100  {
	min-height: 100%;
}

.minh30vh {
	min-height: 30vh;
}

.imgcard {
	min-height: 12rem;
	max-height: 13rem;
}

.user-img {
    width: 100%;
    border-radius: 50%;
}
@media (min-width: 768px) {
    .user-img {
        width: 50%;
    }
}

.user-img-mini {
    width: 35%; 
}


@media (min-width: 768px) {
    .user-img-mini {
        width: 80%;
    }
}

.icon-border {
	border: 2px solid $info;
	border-radius: 50%;
}

.icon-hover:hover {
	div {
		background-color: $info;
		span {
			color: white !important;
		}
	}
}

.border50 {
	border-radius: 50% !important;
}

.light {
	color: $body-background-color;
}

$card-background-color: $info;
$card-header-color: $body-background-color;

/*NAVBAR*/
$navbar-padding-horizontal: 0rem;
$navbar-item-hover-background-color: unset !important;
$navbar-item-hover-color: #ddd !important;
$navbar-item-color: #eee;
$navbar-background-color: $info;
$navbar-dropdown-background-color: $info;
$navbar-dropdown-item-hover-background-color: #eee !important;
$navbar-dropdown-item-hover-color: $info !important;

/*HERO*/

$hero-body-padding-medium: 7rem 1.5rem 5rem 1.5rem;

/*TABS*/
.tabs {
    a {
        min-width: 100% !important;
        padding-left: 15% !important;
        display: flex !important;
        justify-content: flex-start !important;
        align-items: center !important;
    }
    ul {
        li {
            background-color: #cfcbcb!important;
        }
    }
}

@media (min-width: 768px) {
    .tabs {
        a {
            padding-left: unset !important;
            justify-content: center !important;
        }

        
    }
}

$tabs-toggle-link-active-background-color: $info;
$tabs-toggle-link-hover-background-color: #bcbaba;	
$tabs-link-padding: 0.5em 0;	
$tabs-link-color: $info;		

/*FOOTER*/

$footer-padding: 2rem 2rem 2rem;
$footer-background-color: $info;

/*CAROUSEL*/
$carousel-arrow-color: $info-light;
$carousel-arrow-background: $info;
// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

@import '~@creativebulma/bulma-divider';


@import '~bulma-timeline';

